{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block content %}
<div class="container-fluid dashboard-container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4 overflow-hidden">
        <div class="bg-holder bg-card" style="background-image:url({{ url_for('static', filename='assets/img/icons/spot-illustrations/corner-2.png') }});"></div>
        <div class="card-body position-relative">
          <div class="d-flex justify-content-between align-items-center">
            <h1 class="card-title mb-0">{{ project.name }}</h1>
            <div class="header-buttons">
              <button class="btn btn-primary btn-sm me-2">Rename</button>
              <button class="btn btn-danger btn-sm">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      {% include '_quadrants.html' %}
    </div>
  </div>
</div>
{% endblock %}