{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <div class="row mb-3">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Create a New Survey</h5>
          <p class="card-text">How would you like to proceed?</p>
          <div class="row mt-4">
            <div class="col-md-6">
              <a href="{{ url_for('survey_builder_bp.build_survey') }}" class="btn btn-outline-primary h-100 w-100 d-flex flex-row align-items-center text-start p-6">
                <i class="fas fa-file-alt fa-5x me-3"></i>
                <div>
                  <h5 class="mb-2">Create one from scratch</h5>
                  <p class="mb-0">You will have to build everything from scratch.</p>
                </div>
              </a>
            </div>
            
            <div class="col-md-6">
              <button class="btn btn-outline-primary h-100 w-100 d-flex flex-row align-items-center text-start p-6" type="button" onclick="showTemplateSelection()">
                <i class="fas fa-edit fa-5x me-3"></i>
                <div>
                  <h5 class="mb-2">Start from an existing template</h5>
                  <p class="mb-0">You will be able to edit an existing template and save your newly created survey.</p>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="template-selection" class="row mb-3" style="display: none;">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Select the template you want to use</h5>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Template Name</th>
                  <th>Description</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for template in templates %}
                  {% if template.user_id is none %}
                    <tr>
                      <td>{{ template.name }}</td>
                      <td>{{ template.description }}</td>
                      <td>
                        <a href="{{ url_for('survey_builder_bp.build_survey', template_id=template.id) }}" class="btn btn-outline-primary">SELECT</a>
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
function showTemplateSelection() {
  document.getElementById('template-selection').style.display = 'block';
}
</script>
{% endblock %}