{% extends 'base.html' %}

{% block content %}
<div class="configure-population-container">
    <h2>Configure Population for {{ project.name }}</h2>
    <form method="POST">
        <label for="population_tag">Select Population Tag:</label>
        <select name="population_tag" id="population_tag">
            {% for tag in tags %}
                <option value="{{ tag[0] }}">{{ tag[0] }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn">APPLY</button>
        <a href="{{ url_for('project_dashboard', project_id=project.id) }}" class="btn grey-btn">CANCEL</a>
    </form>
</div>
{% endblock %}
