<nav class="navbar navbar-light navbar-vertical navbar-expand-lg navbar-card mt-2" id="navbarVertical">
 
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper me-0 ms-0">
        <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    </div>
    <a class="navbar-brand" href="../landing">
        <div class="d-flex align-items-center py-3 mt-0">
          <img class="me-0 ms-0 p-0" src="{{ url_for('static', filename='images/logo.png') }}" alt="Mimetic logo" width="30">
          <span class="font-sans-serif text-muted fs-7 ms-0 mt-0">MimeticMind</span>
          
         </div>
    </a>
  </div>
  
  
  <div class="collapse navbar-collapse  bg-gradient" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar d-flex flex-column" style="height: calc(100vh - 80px);">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
        
        <!-- Dashboard Section -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard_bp.dashboard') }}">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-tachometer-alt"></i></span>
              <span class="nav-link-text ps-1">Dashboard</span>
            </div>
          </a>
        </li>
               
        <!-- Settings Section -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('settings') }}">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-cog"></i></span>
              <span class="nav-link-text ps-1">Settings</span>
            </div>
          </a>
        </li>
        
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Workspace</div>
            <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
            </div>
        </div>
        
        <!-- Populations Section -->
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#populationsMenu" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="populationsMenu">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-globe"></i></span>
              <span class="nav-link-text ps-1">Populations</span>
            </div>
          </a>
          <ul class="nav collapse" id="populationsMenu">
            {% for population in populations %}
              <li class="nav-item"><a class="nav-link d-flex align-items-center" href="{{ url_for('population_explorer_bp.population_explorer', population=population.tag) }}"><span class="fi fi-{{ population.flag }} me-2"></span> {{ population.name }}</a></li>
            {% else %}
              <li class="nav-item"><span class="nav-link-text ps-1">No populations available</span></li>
            {% endfor %}
          </ul>
        </li>
        
        <!-- Survey Builder Section -->
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#surveyBuilderMenu" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="surveyBuilderMenu">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-edit"></i></span>
              <span class="nav-link-text ps-1">Survey Builder</span>
            </div>
          </a>
          <ul class="nav collapse" id="surveyBuilderMenu">
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('survey_builder_bp.list_surveys') }}">
                <i class="fas fa-list"></i> Edit Surveys
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('survey_builder_bp.create_survey') }}">
                <i class="fas fa-plus"></i> Create New Survey
              </a>
            </li>
          </ul>
        </li>

        <!-- Projects Section -->
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#projectsMenu" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="projectsMenu">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-briefcase"></i></span>
              <span class="nav-link-text ps-1">Projects</span>
            </div>
          </a>
          <ul class="nav collapse" id="projectsMenu">
            {% for project in projects %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('projects_bp.project_dashboard', project_id=project.id) }}"><i class="fas fa-project-diagram"></i> {{ project.name }}</a></li>
            {% else %}
              <li class="nav-item"><span class="nav-link-text ps-1">No projects available</span></li>
            {% endfor %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('projects_bp.create_project') }}"><i class="fas fa-plus"></i> Create New Project</a></li>
          </ul>
        </li>
        
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Analysis Engine</div>
            <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
            </div>
        </div>
        
        <!-- Survey Reports Section -->
        <li class="nav-item">
          <a class="nav-link" href="../survey_reports">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-poll"></i></span>
              <span class="nav-link-text ps-1">Survey Analysis</span>
            </div>
          </a>
        </li>
        
        <!-- A/B Testing Section 
        <li class="nav-item">
          <a class="nav-link" href="">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-flask"></i></span>
              <span class="nav-link-text ps-1">A/B Testing</span>
            </div>
          </a>
        </li>-->
       
      </ul>
      
      <div class="mt-auto">
      
      <!-- Subscription info -->
        <div class="settings my-3">
          <div class="card shadow-none bg-transparent">
            <div class="card-body alert mb-0 " role="alert">
              <div class="btn-close-falcon-container"></div>
              <div class="text-center">                    
                {% if current_user.is_authenticated and subscription_info %}
                  {% if subscription_info.tier in ['STARTER', 'ADVANCED'] %}
                    <img src="{{ url_for('static', filename='assets/img/illustrations/navbar-vertical.png') }}" class="mb-1" width="80" alt="Subscription">
                    <p class="fs-10 text-light">{{ subscription_info.tier.capitalize() }} Plan</p>
                    <p class="fs-10 text-warning">{{ subscription_info.remaining_interactions }} Credits remaining</p>
                  {% else %}
                    <img src="{{ url_for('static', filename='assets/img/illustrations/creating.png') }}" class="mb-1" width="80" alt="Subscription">
                  {% endif %}
                  {% if subscription_info.tier != 'ENTERPRISE' %}
                    <div class="d-grid">
                      <a href="{{ url_for('pricing') }}" class="btn btn-sm btn-primary">Upgrade Plan</a>
                    </div>
                  {% else %}
                    <p class="fs-9 text-primary">{{ subscription_info.tier.capitalize() }} Plan</p>
                  {% endif %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>

            
      </div>
    </div>
  </div>
</nav>
