{% extends 'base_landing.html' %}
{% block content %}

      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="py-0 overflow-hidden" id="banner" data-bs-theme="light">

        <div class="bg-holder overlay h-50" style="background-image:url(../static/assets/img/landing_bg_small.jpg);background-position: center bottom;"></div>
        <!--/.bg-holder-->

        <div class="container">
          <div class="row flex-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
          
            <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-6 text-center text-xl-start"><a class="btn btn-outline-danger mb-4 fs-10 border-2 rounded-pill" href="../pricing"><span class="me-2" role="img" aria-label="Star">⭐</span>Become a pro</a>
              <h1 class="text-white fw-light">For successful<br> <span class="typed-text fw-bold" data-typed-text='["Marketers","Product Leads","Start-ups","Policy Makers"]'></span><br />worldwide</h1>
              <p class="lead text-light text-opacity-100">Tap into the huge potential of statistically representative AI populations! Understand the needs and predict the next trends in your market!</p><a class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-9 py-2" href="dashboard">Go to my Dashboard<span class="fas fa-play ms-2" data-fa-transform="shrink-6 down-1"></span></a>
            </div>
            
            <div class="col-xl-7 offset-xl-1 align-self-end mt-4 mt-xl-0"><a class="img-landing-banner rounded" href="dashboard"><img class="img-fluid d-dark-none" src="../static/assets/img/screenshot.jpg" alt="" /><img class="img-fluid d-light-none" src="../static/assets/img/screenshot.jpg" alt="" /></a></div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ===========LOGO-uri=================-->
      <section class="py-3 bg-body-tertiary shadow-sm ">

        <div class="container h-50">
          <div class="row flex-center d-flex align-items-stretch h-100">
          <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="75" src="" alt="" /></div>
            <!--<div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="70" src="../static/assets/img/logos/LOGO_Nvidia.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="75" src="../static/assets/img/logos/LOGO_LlamaIndex.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="30" src="../static/assets/img/logos/b&amp;w/2.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="30" src="../static/assets/img/logos/b&amp;w/4.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="35" src="../static/assets/img/logos/b&amp;w/1.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="40" src="../static/assets/img/logos/b&amp;w/10.png" alt="" /></div>
            <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1"><img class="landing-cta-img" height="40" src="../static/assets/img/logos/b&amp;w/12.png" alt="" /></div>-->
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section>

        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
              <h1 class="fs-7 fs-sm-5 fs-md-4">Achieve remarkable COST and TIME efficiency</h1>
              <p class="lead">Our synthetic, yet statistically relevant data will increase your market confidence and help you make the best decisions at a <span class="text-danger">fraction of the cost</span> and time of typical market research.</p>
            </div>
          </div>
          <div class="row flex-center mt-8">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="rounded-circle w-75 img-fluid px-6 px-md-0" src="../static/assets/img/roboti_tinta_ok.jpg" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-danger"><span class="fas fa-bullseye me-2"></span>TARGET</h5>
              <h3>Chose Populations &amp; Segments </h3>
              <p>Select from a multitude of countries and target specific population segments</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 pe-lg-6 order-md-2"><img class="rounded-circle w-75 img-fluid px-6 px-md-0" src="../static/assets/img/design_tinta_ok.jpg" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-info"> <span class="fas fa-drafting-compass me-2"></span>DESIGN</h5>
              <h3>Your Own Surveys</h3>
              <p>Create one from scratch or start from the <u>8 default templates</u> available for specific use cases, such as generic market reasearch, product development or public policy making</p>
            </div>
          </div>
          <div class="row flex-center mt-7">
            <div class="col-md col-lg-5 col-xl-4 ps-lg-6"><img class="rounded-circle w-75 img-fluid px-6 px-md-0" src="../static/assets/img/finger_button_ok.jpg" alt="" /></div>
            <div class="col-md col-lg-5 col-xl-4 mt-4 mt-md-0">
              <h5 class="text-success"><span class="fas fa-chart-bar me-2"></span>ANALYZE</h5>
              <h3>... and Make Decisions</h3>
              <p>Visualize the resulting data. Apply <strong>psychographic</strong> and <strong>demographic</strong> filters to understand specific segments and their particularities. Understand correlations, and perform <strong>A/B analysis</strong> to visualize different scenarios</p>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-body-tertiary dark__bg-opacity-50 text-center">

        <div class="container">
          <div class="row">
            <div class="col">
              <h1 class="fs-7 fs-sm-5 fs-md-4">3 Reasons to Use Our Platform</h1>
              <p class="lead">We think you'll find many more, but these are our main selling points:</p>
            </div>
          </div>
          <div class="row mt-6">
            <div class="col-lg-4">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-user-friends fs-5 text-info"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Realistic Populations</h5>
                  <p>Our AI individuals aren't just modeled on demographic statistics. They have rich, <span class="text-warning-emphasis">realistic personalities</span> and life story narratives that greatly increase the quality of their responses.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-robot fs-4 text-success"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Not Sure What you Need?</h5>
                  <p>In our digital reality, answers abound. But knowing the right question to ask can be a true pain point. Our <span class="text-warning-emphasis">integrated AI assistant</span> will guide you in selecting the ideal survey types and questions for your purposes.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 mt-6 mt-lg-0">
              <div class="card card-span h-100">
                <div class="card-span-img"><span class="fas fa-database fs-3 text-danger"></span></div>
                <div class="card-body pt-6 pb-4">
                  <h5 class="mb-2">Your Data is All Yours</h5>
                  <p>Looking to dive deeper into your analysis or correlate results with your own proprietary insights? No problem. All the data generated with our engine is <span class="text-warning-emphasis">fully downloadable.</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-200 text-center">

        <div class="container">
          <div class="row justify-content-center">
            <!-- Left column: one-third of the width -->
            <div class="col-lg-4 d-flex align-items-center">
              <img src="../static/assets/img/screenshot_testimonials.jpg" alt="App screenshot" class="img-fluid mx-auto" />
            </div>

            <!-- Right column: two-thirds of the width, contains the current content -->
            <div class="col-lg-8">
              <div class="swiper theme-slider" data-swiper='{"autoplay":true,"spaceBetween":5,"loop":true,"loopedSlides":5,"slideToClickedSlide":true}'>
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-8 fs-md-7 fst-italic text-1100">Customer testimonial</p>
                      <p class="fs-9 text-600">- Name, Role</p><!--<img class="w-auto mx-auto" src="../static/assets/img/logos/google.png" alt="" height="45" />-->
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-8 fs-md-7 fst-italic text-1100">Customer testimonial</p>
                      <p class="fs-9 text-600">- Name, Role</p><!--<img class="w-auto mx-auto" src="../static/assets/img/logos/netflix.png" alt="" height="30" />-->
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="px-5 px-sm-6">
                      <p class="fs-sm-8 fs-md-7 fst-italic text-1100">Customer testimonial</p>
                      <p class="fs-9 text-600">- Name, Role</p><!--<img class="w-auto mx-auto" src="../static/assets/img/logos/paypal.png" alt="" height="45" />-->
                    </div>
                  </div>
                </div>
                <div class="swiper-nav">
                  <div class="swiper-button-next swiper-button-white"></div>
                  <div class="swiper-button-prev swiper-button-white"> </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


      <!-- ============================================-->
      <!-- <section> begin ============================-->
      <section class="bg-dark" data-bs-theme="light">

        <!--<div class="bg-holder overlay" style="background-image:url(../assets/img/generic/bg-2.jpg);background-position: center top;"></div>-->
        <!--/.bg-holder-->

        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-lg-8">
              <p class="fs-6 fs-sm-5 text-white">Unlock the power of advanced analytics and revolutionize the way you understand and connect with your target audience today.</p>
                <a href="../pricing" class="btn btn-outline-light border-2 rounded-pill btn-lg mt-4 fs-9 py-2">Start my free trial</a>
            </div>
          </div>
        </div>
        <!-- end of .container-->

      </section>
      <!-- <section> close ============================-->
      <!-- ============================================-->


{% endblock %}