{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/settings.css') }}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    
    <div class="row">
        <!-- Main Content Area -->
        <main class="col ps-md-0 pt-0">

            <!-- Content Sections -->
            <div class="row g-3">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h3 mb-0">Settings</h1>
                            <p>Adjust your account settings here.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <p class="card-text">No settings can be adjusted at the moment</p>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </div>
</div>

{% endblock %}
