<nav class="navbar navbar-light navbar-vertical navbar-expand-xl navbar-card">
  <script>
    var navbarStyle = localStorage.getItem("navbarStyle");
    if (navbarStyle && navbarStyle !== 'transparent') {
      document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
    }
  </script>
  <div class="d-flex align-items-center">
    <div class="toggle-icon-wrapper">
      <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip" data-bs-placement="left" aria-label="Toggle Navigation" data-bs-original-title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
    </div>
    <a class="navbar-brand" href="../dashboard">
      <div class="d-flex align-items-center py-3"><span class="font-sans-serif text-primary fs-7">MimeticMind</span></div>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
    <div class="navbar-vertical-content scrollbar d-flex flex-column" style="height: calc(100vh - 80px);">
      <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
        
        <!-- Dashboard Section -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('dashboard_bp.dashboard') }}">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-tachometer-alt"></i></span>
              <span class="nav-link-text ps-1">Dashboard</span>
            </div>
          </a>
        </li>
        
        <!-- Notifications Section -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('notifications') }}">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-bell"></i></span>
              <span class="nav-link-text ps-1">Notifications</span>
            </div>
          </a>
        </li>

        <!-- Settings Section -->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('settings') }}">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-cog"></i></span>
              <span class="nav-link-text ps-1">Settings</span>
            </div>
          </a>
        </li>
        
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Workspace</div>
            <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
            </div>
        </div>
        
        <!-- Populations Section -->
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#populationsMenu" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="populationsMenu">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-globe"></i></span>
              <span class="nav-link-text ps-1">Populations</span>
            </div>
          </a>
          <ul class="nav collapse" id="populationsMenu">
            {% for population in populations %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('population_explorer_bp.population_explorer', population=population.tag) }}"><i class="fas fa-users"></i> {{ population.name }}</a></li>
            {% else %}
              <li class="nav-item"><span class="nav-link-text ps-1">No populations available</span></li>
            {% endfor %}
          </ul>
        </li>
        
        <!-- Survey Builder Section -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-edit"></i></span>
              <span class="nav-link-text ps-1">Survey Builder</span>
            </div>
          </a>
        </li>

        <!-- Projects Section -->
        <li class="nav-item">
          <a class="nav-link dropdown-indicator" href="#projectsMenu" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="projectsMenu">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-briefcase"></i></span>
              <span class="nav-link-text ps-1">Projects</span>
            </div>
          </a>
          <ul class="nav collapse" id="projectsMenu">
            {% for project in projects %}
              <li class="nav-item"><a class="nav-link" href="{{ url_for('projects_bp.project_dashboard', project_id=project.id) }}"><i class="fas fa-project-diagram"></i> {{ project.name }}</a></li>
            {% else %}
              <li class="nav-item"><span class="nav-link-text ps-1">No projects available</span></li>
            {% endfor %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('projects_bp.create_project') }}"><i class="fas fa-plus"></i> Create New Project</a></li>
          </ul>
        </li>
        
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
            <div class="col-auto navbar-vertical-label">Analysis Engine</div>
            <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
            </div>
        </div>
        
        <!-- Survey Reports Section -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-poll"></i></span>
              <span class="nav-link-text ps-1">Survey Reports</span>
            </div>
          </a>
        </li>
        
        <!-- A/B Testing Section -->
        <li class="nav-item">
          <a class="nav-link" href="">
            <div class="d-flex align-items-center">
              <span class="nav-link-icon"><i class="fas fa-flask"></i></span>
              <span class="nav-link-text ps-1">A/B Testing</span>
            </div>
          </a>
        </li>
       
      </ul>
      
      <div class="mt-auto">
        <div class="settings my-3">
          <div class="card shadow-none">
            <div class="card-body alert mb-0" role="alert">
              <div class="btn-close-falcon-container">
                <button class="btn btn-link btn-close-falcon p-0" aria-label="Close" data-bs-dismiss="alert"></button>
              </div>
              <div class="text-center"><img src="{{ url_for('static', filename='assets/img/illustrations/navbar-vertical.png') }}" alt="" width="80">
                <p class="fs-11 mt-2">15 Credits remaining...</p>
                <div class="d-grid"><a class="btn btn-sm btn-primary" href="dashboard" target="_blank"> Upgrade Plan</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>